/* Center-align text in elements with the class 'places' */
.places {
	text-align: center;
}

/* Style h1 elements within 'places' with a font size of 30px and left-align text */
.places h1 {
    	font-size: 30px;
   	text-align: left;
}
  
/* Style 'article' elements with specific width, border, border-radius, padding, margin, and inline-block display */
article {
    	width: 390px;
    	border: 1px solid #FF5A5F;
   	border-radius: 4px;
    	padding: 20px;
    	margin: 20px;
    	display: inline-block;
}
  
/* Style h2 elements within 'article' with a font size of 30px and center-align text */
article h2 {
	font-size: 30px;
	text-align: center;
}
